.carousel-caption {
  color: black;
}
.carousel-indicators li {
  opacity: 0.2;
  filter: invert(1);
}
.carousel-indicators .active {
  opacity: 1;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}

#userImage {
  display: block;
}

.spacer {
  display: block;
  margin-bottom: 300px;
}

.infoTagBox {
  margin: auto;
  overflow: auto;
  width: max-content;
}

.theTag {
  float: left;
  display: inline-flex;
  width: max-content;
  background-color: #469ef0;
  border: solid;
  border-color: #469ef0;
  color: white;
  padding: 12px 15px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
}

.roommate-wrapper {
  margin-top: 5rem;
  max-height: 600px;
}
