.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.login-box {
    margin: 10px;
    width: 30%;
    min-width: 240px;
}

#login-button {
    width: 30%;
    margin: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}