.btn-space {
  margin-right: 5px;
}

#main-logo {
  width: 200px;
}

.spacer {
  flex: 1;
}

.nav-bar {
  z-index: 1000;
}
#nav-bar-container {
  display: flex;
}

.link-item {
  display: flex;
}

#link-item1 {
  display: flex;
}

#link-item2 {
  display: flex;
}
