.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.forget-box {
    margin: 10px;
    width: 30%;
}

#SendEmail-button {
    width: 30%;
    margin: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#ForgetComfirm-button {
    width: 30%;
    margin: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}