.profile-wrapper {
  margin-top: 100px;
}

#photo-container {
  padding-top: 25px;
}

#photo-container img {
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.25);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#profile-page {
  display: "flex";
  width: 80%;
  padding: 30;
  margin-left: auto;
  margin-right: auto;
}

#profile-basic {
  text-align: center;
}

.profile-canvas {
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  position: relative;
  width: 100%;
  padding: 5px;
  left: auto;
  z-index: 0;
}

#user-photo {
  width: 250px;
  margin-top: 15px;
  margin-bottom: 15px;
}

#profile-main-container {
  width: 100%;
}

.profile-box {
  text-align: left;
  margin: 10px;
}

#profile-col-1 {
  display: inline-grid;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 50%;
  max-width: 100%;
}

#profile-col-2 {
  display: inline-grid;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 50%;
  max-width: 50%;
}

.profile-tag-box {
  border-radius: 15px;
  margin: 10px 0;
  padding: 20px 30px;
  overflow: auto;
  min-width: 100%;
}

.profile-box-title {
  position: relative;
  left: 0px;
  top: 0px;
  width: max-content;
}

#edit-button {
  margin-left: auto;
  margin-right: auto;
  background-color: #007bff;
  margin-top: 10px;
  margin-bottom: 10px;
}

#edit-link {
  color: white;
}

.tag {
  background: lightblue;
  border-radius: 3px 0 0 3px;
  color: black;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: "";
  height: 6px;
  left: 10px;
  position: absolute;
  width: 8px;
  top: 18px;
}

.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid lightblue;
  border-top: 13px solid transparent;
  content: "";
  position: absolute;
  right: 0;
  top: 0;
}
