.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#profile-page {
    display: "flex";
    width: 60%;
    padding: 30;
    margin-left: auto;
    margin-right: auto;
}

#user-photo {
    width: 250px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.profile-box {
    align: left;
    margin: 10px;
}

.tag-box {
    border-style: groove;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    overflow: auto;
}


#edit-button {
    margin-left: auto;
    margin-right: auto;
    background-color: #007bff;
    margin-top: 10px;
    margin-bottom: 10px;
}

#edit-link {
    color: white;
}

.tag {
    border-style: groove;
    border-color: grey;
    border-radius: 5px;
    width: max-content;
    padding: 3px;
    margin-right: 5px;
    float: left;
}