.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.apartment {
  width: 45%;
  position: relative;
}

#apartment-search {
  width: 100%;
  margin: 0;
  top: 55px;
  border-bottom: 1px solid #d9d9d9;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  background-color: white;
}

.search-bar-content {
  display: flex;
  width: 100%;
}

#apartment-wrapper {
}
.apartment-canvas {
  display: flex;
  position: relative;
  width: 100%;
  padding: 5px;
  left: auto;
  z-index: 0;
}
#map-canvas {
  position: sticky;
  top: 95px;
  height: 600px;
}

.apartmentPostsArea {
  width: 100%;
  display: block;
  float: left;
  top: 100px;
  border-right: 1px solid #d9d9d9;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

#apartmentLogo {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
