#save-button {
    margin-left: auto;
    margin-right: auto;
    background-color: #007bff;
    margin-top: 10px;
    margin-bottom: 10px;
}

#save-link {
    color: white;
}

#profile-edit-page {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



.tag-edit-box {
    width: 100%;
    border-style: groove;
    border-color: #AAAAAA;
    border-radius: 50px;
    margin-top: 10px;
    margin-bottom: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    overflow: auto;
}

#change-photo {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

#basic-information {
    display: flex;
    width: 100%;
    min-height: 5em;
    overflow: auto;
    margin-bottom: 20px;
}

.profile-box {
    display: contents;
    margin-left: auto;
    margin-right: auto;
}

.delete {
    background-color: white;
    color: black;
    width: 22px;
    height: 22px;
    padding-bottom: 22px;
    padding-right: 10px;
    padding-left: 3px;
    margin-left: 5px;

    border: groove;
    display: inline;
    border-radius: 20px;
}

.new-tag {
    background-color: white;
    border-radius: 5px;
    display: inline;
    padding: 3px;
    margin-right: 5px;
    border-radius: 10px;
}